<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Генератор текстов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Генератор текстов</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExample04">

    <ul class="navbar-nav mr-auto">

      {% if user %}
      <li class="nav-item">
        <a class="nav-link" href=""> Сгенерировать тексты </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""> Результаты генерации </a>
      </li>
      </ul>
    <div class="my-2 my-md-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
          <a class="nav-link" href="">Вы вошли как: {{ user.email }}</a>
            </li>
            <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Выйти</a>
            </li>
        </ul>
    </div>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Войти</a>
        </li>
      {% endif %}

    </ul>
  </div>

</nav>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.category }}">{{ message.text }}</div>
    {% endfor %}
</div>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>
