{% extends "base.html" %}
{% block content %}
 {% if user %}
<h1 class="p-3">Генератор текстов на основе ChatGPT</h1>
<p class="p-3">Для добавления и проверки ваших урл пройдите по ссылкам сверху</p>
<p class="p-3"><a href="/generate_texts">Сгенерировать тексты по списку</a></p>
<p class="p-3"><a href="/texts_list">Результаты генерации</a></p>
{% else %}
<h1 class="p-3">Генератор текстов на основе ChatGPT</h1>
<p class="p-3">Для доступа к функциям необходимо авторизоваться</p>
  {% endif %}
{% endblock %}