{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h1>Тексты</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Всего текстов</th>
                    <th>Готово</th>
                    <th>Средняя уникальность</th>
                    <th>Температура</th>
                    <th>Создан</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for set, author_email in parsing_sets %}
                    <tr>
                        <td><a href="/download_text_set/{{ set.id }}">{{ set.id }}</a></td>
                        <td>{{ set.set_name }}</td>
                        <td>{{ author_email }}</td>
                        <td>{{ set.parsed_amount }} из {{ set.total_amount }}</td>
                        <td>{{ set.is_complete }}</td>
                        <td>{{ set.average_uniqueness }}</td>
                        <td>{{ set.temperature }}</td>
                        <td>{{ set.created_at }}</td>
                        <td>
                          <form action="/delete_text_set/{{ set.id }}" method="get">
                          <input type="submit" value='Удалить'>
                          </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
